<h1>Cookbook</h1>

<% @recipes.each do |recipe|%>
  <h3>Title: <%= recipe.title %></h3>
  <h3>Chef: <%= recipe.chef %></h3>
  <h3>Ingredients: <%= recipe.ingredients %></h3>
  <h3>Directions: <%= recipe.directions %></h3>
  <br>
<% end %>